[Desktop Entry]
Version=1.0
Name=Android Studio
Comment=Android Studio
Icon=/home/braeden/Desktop/7f41912d6d1347076a343eb3a78c6bf0.png
Exec='/home/braeden/Desktop/Android Studio'
Type=Application
StartupNotify=true
Terminal=false
Categories=X-XFCE;Audio;Mixer;AudioVideo;
X-XFCE-Source=file:///usr/share/applications/xfce4-mixer.desktop
Path=
