[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/braeden/Desktop/openshot.desktop]
row=1
col=3

[/home/braeden/Desktop/Terminal_Commands.odt]
row=6
col=2

[/home/braeden/Desktop/truecrypt.desktop]
row=5
col=3

[/home/braeden/Desktop/magicq.desktop]
row=3
col=3

[/home/braeden/Desktop/Wallpaper]
row=7
col=1

[/home/braeden/Desktop/Android Studio]
row=2
col=3

[/home/braeden/Desktop/7f41912d6d1347076a343eb3a78c6bf0.png]
row=3
col=0

[/home/braeden/Desktop/synapse.desktop]
row=1
col=2

[/home/braeden/Desktop/vlc.desktop]
row=8
col=0

[/home/braeden/Desktop/terminator.desktop]
row=8
col=1

[/home/braeden/Desktop/Ruby]
row=8
col=2

[/home/braeden/Desktop/libreoffice-startcenter.desktop]
row=0
col=3

[/home/braeden/Desktop/Other]
row=4
col=2

[/home/braeden/Desktop/makerware.desktop]
row=5
col=2

[/home/braeden/Desktop/exo-file-manager.desktop]
row=5
col=1

[/home/braeden/Desktop/thunderbird.desktop]
row=1
col=1

[/home/braeden/Desktop/gimp.desktop]
row=2
col=2

[/home/braeden/Desktop/File Systems]
row=4
col=1

[/home/braeden/Desktop/tor-browser-en.desktop]
row=6
col=1

[/home/braeden/Desktop/deluge.desktop]
row=2
col=1

[/home/braeden/Desktop/chromium-browser.desktop]
row=4
col=3

[/home/braeden/Desktop/arduino.desktop]
row=3
col=2

[/home/braeden/Desktop/gparted.desktop]
row=6
col=3

[/home/braeden/Desktop/firefox.desktop]
row=0
col=2

[/home/braeden/Desktop/synaptic.desktop]
row=7
col=0

[/home/braeden/Desktop/steam.desktop]
row=7
col=2

[04bc76a0-ffb4-47d9-85e3-89fa5541c4fb]
row=2
col=0

[0DEA-3061]
row=4
col=0

[ROOT-A]
row=1
col=0

[505f5a6f-b356-4270-9d86-45843b1fade6]
row=5
col=0

[Trash]
row=6
col=0

[/]
row=0
col=1

[/home/braeden]
row=3
col=1

