[Terminal_Commands.odt]
row=5
col=2

[TrueCrypt]
row=5
col=3

[Terminator]
row=1
col=4

[Wallpaper]
row=0
col=3

[Android Studio]
row=2
col=3

[VLC media player]
row=2
col=2

[Synapse]
row=3
col=2

[libreoffice-startcenter.desktop]
row=3
col=4

[7f41912d6d1347076a343eb3a78c6bf0.png]
row=0
col=2

[MakerWare]
row=1
col=3

[Other]
row=3
col=1

[File Manager]
row=3
col=3

[Thunderbird Mail]
row=4
col=2

[GIMP Image Editor]
row=1
col=2

[File Systems]
row=4
col=1

[Tor Browser]
row=5
col=1

[OpenShot Video Editor]
row=0
col=4

[Chromium Web Browser]
row=4
col=3

[Arduino IDE]
row=2
col=4

[Synaptic Package Manager]
row=6
col=3

[Firefox Web Browser]
row=6
col=1

[Deluge]
row=6
col=2

[EFI-SYSTEM]
row=5
col=0

[OEM]
row=2
col=1

[28 GB Filesystem]
row=0
col=1

[ROOT-A]
row=4
col=0

[8.1 GB Filesystem]
row=1
col=1

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

